@page
@model GeoDart.Pages.DrillData.DetailsModel

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>DrillingData</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.DrillingData.DateTime)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.DrillingData.DateTime)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.DrillingData.WaterPressurte)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.DrillingData.WaterPressurte)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.DrillingData.WaterConsumption)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.DrillingData.WaterConsumption)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.DrillingData.FeedIn)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.DrillingData.FeedIn)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.DrillingData.FeedOut)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.DrillingData.FeedOut)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.DrillingData.Temperature)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.DrillingData.Temperature)
        </dd>
    </dl>
</div>
<div>
    <a asp-page="./Edit" asp-route-id="@Model.DrillingData?.Id">Edit</a> |
    <a asp-page="./Index">Back to List</a>
</div>
