@page
@model GeoDart.Pages.DrillData.IndexModel

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-page="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                Время
            </th>
            <th>
                Давление воды
            </th>
            <th>
                Потребление воды
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DrillingData[0].FeedIn)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DrillingData[0].FeedOut)
            </th>
            <th>
                Температура
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.DrillingData) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.DateTime)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.WaterPressurte)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.WaterConsumption)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.FeedIn)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.FeedOut)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Temperature)
            </td>
            <td>
                <a asp-page="./Edit" asp-route-id="@item.Id">Редактирование</a> |
                <a asp-page="./Details" asp-route-id="@item.Id">Детальнее</a> |
                <a asp-page="./Delete" asp-route-id="@item.Id">Удалить</a>
            </td>
        </tr>
}
    </tbody>
</table>
